body {
    margin: 0px;
}

header {
    height: 12vh;
    margin: 0px;
    margin-bottom: 4vw;
    background-color: orange;
}

header>h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    margin: 0px;
}

.centerBoard {
    display: flex;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 8px solid grey;
}

.square {
    border: 1px solid black;
    width: 4vw;
    height: 4vw;
}

.active {
    opacity: 70%;
}

.possibleMove {
    background-color: lightgrey;
}

.possibleJumpMove {
    background-color: purple;
}

.grey {
    background-color: grey;
    
}

.red {
    background-color:lightcoral;
}

.king {
    border-color: white;
}

footer {
    height: 12vh;
    background-color: orange;
}

footer>p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 24px;
}